@{
//ViewBag.Title = "About";
}
@*<h2>@ViewBag.Title.</h2>*@
@*<h3>@ViewBag.Message</h3>*@

<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
            <br />
            <h2 class="AboutUsTitle">About Us </h2><br />
            <h4 class="AboutUsPgraph">
                Neighborly is an application meant to acquaint you with your neighbors and allow you to lend a helping hand. Knowing that you have neighbors to count on will help to build a strong community that you feel safe in. This is volunteer-only, meaning no monetary transactions will be verified through Neighborly.<br /> <br />

                Neighborly is an excellent tool for people seeking volunteer hours for school or any other personal reason! We hope that this tool will give Good Samaritans an opportunity to assist in the neighborhoods in which they live. If you have any further questions please refer to our FAQ page or contact Neighborly at (216) 630-6010.
            </h4>

        </div>

        <div class="col-xs-12 col-sm-12 col-md-5 col-lg-5">
            <br />
            <img class="aboutPhoto" src="~/Content/lockHands.jpg" />
        </div>

    </div>
</div>