@{
    ViewBag.Title = "Contact";
}
@*<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@

<div class="full-width-container block-1">
    <div class="container">
        <div class="row">
            <div class="grid_12">
                <header>
                    <h1 class="FAQTitle">FAQ</h1>
                </header>
                <div>
                    <h3 class="question">What is Neighborly for?</h3>
                    <h4 class="answer">Neighborly is here to provide connections between neighbors with the help of simple tasks. We aim to help members of a community grow closer so that new friendships may be forged, or even just to make people feel less alone.</h4>
                    <br />
                    <br />
                    <h3 class="question">Is this a paid service?</h3>
                    <h4 class="answer">No. Neighborly does not charge any money and it not meant to be used as a job board. These tasks are meant to be a sort of ice breaker, not part time work. Any transactions made are done outside of Neighborly's knowledge and we recommend against it.</h4>
                    <br />
                    <br />
                    <h3 class="question">Who can create a task?</h3>
                    <h4 class="answer">Anyone is able to create a task as long as they are logged in to the site. You can create your own account on the site via Register, or Log In with Facebook or Google from the Navbar.</h4>
                    <br />
                    <br />
                    <h3 class="question">How do I respond?</h3>
                    <h4 class="answer">If you see a task you would like to help with, go to the details of that task where you can choose to Offer Help as well as message the creator of the task.</h4>
                    <br />
                    <br />
                    <h3 class="question">How do I know it's safe?</h3>
                    <h4 class="answer">Neighborly is not able to vet every user of the site, however we encourage users to use caution when agreeing to help a stranger with a task. If at any time you feel uncomfortable or in danger, do not hesitate to leave.</h4>
                    <br />
                    <br />
                    <h3 class="question">Is Neighborly only based in Cleveland?</h3>
                    <h4 class="answer">Currently we are using Cleveland as our test market as we look to expand in the future.</h4>
                    <br />
                    <br />
                </div>


            </div>
        </div>
    </div>
</div>


<!--CONTACTS-->
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <form class="form-horizontal" action="" method="post">
                    <fieldset>
                        <legend class="text-center">Contact us</legend>

                        <!-- Name input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="name">Name</label>
                            <div class="col-md-9">
                                <input id="name" name="name" type="text" placeholder="Your name" class="form-control">
                            </div>
                        </div>

                        <!-- Email input-->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="email">Your E-mail</label>
                            <div class="col-md-9">
                                <input id="email" name="email" type="text" placeholder="Your email" class="form-control">
                            </div>
                        </div>

                        <!-- Message body -->
                        <div class="form-group">
                            <label class="col-md-3 control-label" for="message">Your message</label>
                            <div class="col-md-9">
                                <textarea class="form-control" id="message" name="message" placeholder="Please enter your message here..." rows="5"></textarea>
                            </div>
                        </div>

                        <!-- Form actions -->
                        <div class="form-group">
                            <div class="col-md-12 text-right">
                                <button type="submit" class="btn btn-default ask btn-lg fixButton">Submit</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>